<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>آدرس ما</h4>
                            <span>آذربایجان غربی، خوی، خیابان 54321</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>با ما در تماس باشید</h4>
                            <span>9876543210 0</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>آدرس الکترونیکی ما</h4>
                            <span>mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="{{footer_log.image.url}}" class="img-fluid d-block" style="float: right; display: block; clear: both !important;" alt="logo"></a>
                        </div>
                        <div class="footer-text d-block">
                            <p style="text-align: right;">بارثاشاپ در سال 1389 تحت مالکیت گروه مهندسی بارثاوا افتتاح شد.رسالت بارثاشاپ ارائه کالا و
                                خدمات ، با توجه ویژه ای به گجت ها و فناوری های روز دنیا می باشد.بارثاشاپ اقدام به عرضه
                                برندهایی نظیر میزو,شیائومی,لنوو,سامسونگ,ال جی,اچ تی سی,سونی و همچنین برندهایی نظیر
                                Doogee,ZTE,Cubot,Elephone,Bluboo,Alcatel,Leagoo,vkworld می نماید.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>دیجی کالا را در شبکه های اجتماعی دنبال کنید.</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>خدمات مشتریان</h3>
                        </div>
                        <ul>
                            <li><a href="#">پاسخ به پرسشهای متداول</a></li>
                            <li><a href="#">رویه های بازگرداندن کالا</a></li>
                            <li><a href="#">شرایط استفاده</a></li>
                            <li><a href="#">حریم خصوصی</a></li>
                            <li><a href="#">گزارش باگ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>با دیجی کالا</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <ul>
                                <li><a href="#">اتاق خبر دیجی کالا</a></li>
                                <li><a href="#">فروش در دیجی کالا</a></li>
                                <li><a href="#">فرصت های شعلی</a></li>
                                <li><a href="#"> تماس با دیجی کالا</a></li>
                                <li><a href="#">درباره دیجی کالا</a></li>
                                <li><a href="#">راهنمای هویت بصری</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>