<div class="bg-light">
    <div class="container-fluid row mt-3 bg-white">
        <div class="col col-xs-12 col-md-9">
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <div class="d-flex flex-grow-1">
                    <a href="/" class="navbar-brand text-danger">digikala</a>
                    <form class="mr-2 my-auto w-50 d-inline-block order-1 dropdown">
                        <div class="input-group">
                            <span class="input-group-append">
                                <!-- <button class="btn btn-outline-red border border-left-0" type="button"> -->
                                <i class="fa fa-search"
                                    style="position: relative; right: 1.4rem; top: 0.75rem; z-index: 333;"></i>
                                <!-- </button> -->
                            </span>
                            <input type="text" class="form-control form-control-lg border dropdown"
                                placeholder="جستجو در دیجی کالا ..." id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            <ul class="dropdown-menu col-12 w-100" role="menu" aria-labelledby="menu" id="list"
                                style="z-index: 22222;">
                                <li class="dropdown-item search-results" href="#" role="presentation"> <a
                                        role="menuitem" tabindex="-1" href="#">بیشترین موارد جستجو</a> </li>
                                <li class="dropdown-item search-results" href="#" role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#"><span class="most-searched">موبایل</span>
                                    </a>
                                    <a role="menuitem" tabindex="-1" href="#"><span
                                            class="most-searched mr-3">تلوزیون</span>
                                    </a>
                                    <a role="menuitem" tabindex="-1" href="#"><span
                                            class="most-searched mr-3">نفربر</span>
                                    </a>
                                </li>
                                <li class="dropdown-item search-results" href="#" role="presentation"> <a
                                        role="menuitem" tabindex="-1" href="#">پزشکی و سلامت</a> </li>
                                <li class="dropdown-item search-results" href="#" role="presentation"><a role="menuitem"
                                        tabindex="-1" href="#">مرکاوا</a></li>
                                <li class="dropdown-item search-results" href="#" role="presentation"><a role="menuitem"
                                        tabindex="-1" href="#">AK-47</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col col-sm-12 col-md-3 d-flex justify-content-end mt-3 mb-5">
            {% if user.is_authenticated %}
            <div class="dropdown" style="z-index: 3333;">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user" id="user"></i> <!-- uses regular style -->
                    &nbsp; {{user.get_full_name}} </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'profile' user.id %}" >پروفایل</a>
                    <a class="dropdown-item" href="{% url 'password_reset' %}">تغییر رمز عبور</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">خروج</a>
                </div>
            </div>
            {% comment %} <a href="{% url 'profile' user.id %}" class="btn btn-white btn-lg border rounded p-3">
                <i class="far fa-user" id="user"></i> <!-- uses regular style -->
                

            </a> {% endcomment %}
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-white btn-lg border rounded p-3">
                <i class="far fa-user" id="user"></i> <!-- uses regular style -->
                &nbsp; ورود به حساب کاربری

            </a>
            {% endif %}
            <a href="#" class="btn btn-white btn-larg border-right px-3 mr-2">
                <i class="far fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div id="mega-menu" class="hide-on-med-and-down">
            <ul class="sub-nav">
                <!-- Top level li a should not have a link this is where the user clicks to open the mega menu on a tablet or touch screen-->
                <li><i class="fas fa-bars"></i><a href="#" class="mr-1">دسته بندی کالاها</a><i></i>
                    <div class="mega-menu-container">
                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img class="w-25"
                                        src="https://dkstatics-public.digikala.com/digikala-products/89e7f2abac447a018242a954f03f8a6926344f8b_1594023235.jpg?x-oss-process=image/resize,m_lfit,h_600,w_600/quality,q_90"
                                        alt="">
                                </div>
                                <ul class="collection">
                                    <!-- these nested links should be have the correct href path to nav user to this section -->

                                    <li class="collection-item">
                                        <a href="{% url 'products:products_list' 'mobile-phone' %}">
                                            <h3>گوشی موبایل</h3>
                                        </a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='mobile-phone' brand='samsung' %}">سامسونگ</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='mobile-phone' brand='huawei' %}">هوآوی</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='mobile-phone' brand='apple' %}">اپل</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='mobile-phone' brand='xiaomi' %}">شیائومی</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='mobile-phone' brand='honor' %}">آنر</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='mobile-phone' brand='nokia' %}">نوکیا</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img class="w-25"
                                        src="https://dkstatics-public.digikala.com/digikala-products/4209444.jpg?x-oss-process=image/resize,m_lfit,h_600,w_600/quality,q_90"
                                        alt="">
                                </div>
                                <ul class="collection">
                                    <!-- these nested links should be have the correct href path to nav user to this section -->

                                    <li class="collection-item">
                                        <a href="{% url 'products:products_list' 'laptop' %}">
                                            <h3>لپ تاپ</h3>
                                        </a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='laptop' brand='asus' %}">ایسوس</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='laptop' brand='acer' %}">ایسر</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='laptop' brand='apple' %}">اپل</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='laptop' brand='dell' %}">دل</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='laptop' brand='microsoft' %}">مایکروسافت</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='laptop' brand='lenovo' %}">لنوو</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img class="theme responsive-img" src="" alt="">
                                </div>
                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img class="w-25"
                                        src="https://dkstatics-public-2.digikala.com/digikala-products/111205158.jpg?x-oss-process=image/resize,m_lfit,h_600,w_600/quality,q_90"
                                        alt="">
                                </div>

                                <ul class="collection">
                                    <!-- these nested links should be have the correct href path to nav user to this section -->

                                    <li class="collection-item">
                                        <a href="{% url 'products:products_list' 'tablet' %}">
                                            <h3> تبلت</h3>
                                        </a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='tablet' brand='samsung' %}">سامسونگ</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='tablet' brand='lenovo' %}">لنوو</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='tablet' brand='apple' %}">اپل</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='tablet' brand='huawei' %}">هوآوی</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='tablet' brand='microsoft' %}">مایکروسافت</a>
                                    </li>
                                    <li class="collection-item"><a
                                            href="{% url 'products:products_list_brands' cat='tablet' brand='xvision' %}">ایکس
                                            ویژن</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li><i class="fas fa-store"></i><a href="#" class="mr-1">سوپر مارکت</a></li>
                <li><i class="fas fa-percent"></i><a href="#" class="mr-1">تخفیفها و پیشنهادات</a></li>
                <li><i class="fas fa-medal"></i><a href="#" class="mr-1">دیجی کالای من</a></li>
                <li><i class="fas fa-plus"></i><a href="#" class="mr-1">دیجی پلاس</a>
                    <div class="mega-menu-container ">

                        <div></div>
                </li>
                <li><i class="fas fa-shapes"></i><a href="#" class="mr-1">دیجی کلاب</a>
                    <div class="mega-menu-container ">

                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Ways to get in touch</h3>
                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h3>Location Map</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li><i class="fas fa-question"></i><a href="#"> سوالی دارید؟</a>
                    <div class="mega-menu-container ">

                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Ways to get in touch</h3>
                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h3>Location Map</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li><i class="fa fa-tasks" aria-hidden="true"></i><a href="#"> فروشنده شوید</a>
                    <div class="mega-menu-container ">

                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Ways to get in touch</h3>
                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h3>Location Map</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li style="float: left;">
                    <a href="">استان و شهر خود را مشخص کنید</a>
                    <i class="fas fa-location-arrow"></i>
                </li>

            </ul>
        </div>
    </div>