<div class="bg-light">
    <div class="container-fluid row mt-3 bg-white">
        <div class="col col-xs-12 col-md-9">
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <div class="d-flex flex-grow-1">
                    <a href="/" class="navbar-brand text-danger">digikala</a>
                    <form class="mr-2 my-auto w-50 d-inline-block order-1 dropdown">
                        <div class="input-group">
                            <span class="input-group-append">
                                <!-- <button class="btn btn-outline-red border border-left-0" type="button"> -->
                                <i class="fa fa-search"
                                    style="position: relative; right: 1.4rem; top: 0.75rem; z-index: 33333;"></i>
                                <!-- </button> -->
                            </span>
                            <input type="text" class="form-control form-control-lg border dropdown"
                                placeholder="جستجو در دیجی کالا ..." id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            <ul class="dropdown-menu col-12 w-100" role="menu" aria-labelledby="menu" id="list"
                                style="z-index: 22222;">
                                <li class="dropdown-item search-results" href="#" role="presentation"> <a
                                        role="menuitem" tabindex="-1" href="#">بیشترین موارد جستجو</a> </li>
                                <li class="dropdown-item search-results" href="#" role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#"><span class="most-searched">موبایل</span>
                                    </a>
                                    <a role="menuitem" tabindex="-1" href="#"><span
                                            class="most-searched mr-3">تلوزیون</span>
                                    </a>
                                    <a role="menuitem" tabindex="-1" href="#"><span
                                            class="most-searched mr-3">نفربر</span>
                                    </a>
                                </li>
                                <li class="dropdown-item search-results" href="#" role="presentation"> <a
                                        role="menuitem" tabindex="-1" href="#">پزشکی و سلامت</a> </li>
                                <li class="dropdown-item search-results" href="#" role="presentation"><a role="menuitem"
                                        tabindex="-1" href="#">مرکاوا</a></li>
                                <li class="dropdown-item search-results" href="#" role="presentation"><a role="menuitem"
                                        tabindex="-1" href="#">AK-47</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col col-sm-12 col-md-3 d-flex justify-content-end mt-3 mb-5">
            <a href="" class="btn btn-white btn-lg border rounded p-3">
                <i class="far fa-user" id="user"></i> <!-- uses regular style -->
                &nbsp; ورود به حساب کاربری

            </a>
            <a href="#" class="btn btn-white btn-larg border-right px-3 mr-2">
                <i class="far fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div id="mega-menu" class="hide-on-med-and-down">
            <ul class="sub-nav">
                <!-- Top level li a should not have a link this is where the user clicks to open the mega menu on a tablet or touch screen-->
                <li><i class="fas fa-bars"></i><a href="#" class="mr-1">دسته بندی کالاها</a><i></i>
                    <div class="mega-menu-container">
                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">

                                <ul class="collection">
                                    <!-- these nested links should be have the correct href path to nav user to this section -->

                                    <li class="collection-item">
                                        <h3>Products & Product Ranges</h3>
                                    </li>
                                    <li class="collection-item"><a href="#">Top Selling</a></li>
                                    <li class="collection-item"><a href="#">Currently on Promotion</a></li>
                                    <li class="collection-item"><a href="#">Back in Stock</a></li>
                                    <li class="collection-item"><a href="#">Launching Soon</a></li>
                                    <li class="collection-item"><a href="#">All</a></li>
                                </ul>
                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img class="theme responsive-img" src="" alt="">
                                    <h4>Top Selling</h4>
                                </div>
                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img class="theme responsive-img" src="" alt="">
                                    <h4>Launching Soon</h4>
                                </div>
                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img class=" theme responsive-img" src="" alt="">
                                    <h4>Currently on Promotionn</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li><i class="fas fa-store"></i><a href="#" class="mr-1">سوپر مارکت</a>
                    <div class="mega-menu-container">
                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Category 1</h3>
                                <ul class="collection">
                                    <li class="collection-item"><a href="#">Category 1 - configuration 1</a></li>
                                    <li class="collection-item"><a href="#">Category 1 - configuration 2</a></li>
                                    <li class="collection-item"><a href="#">Category 1 - configuration 3</a></li>
                                    <li class="collection-item"><a href="#">Category 1 - configuration 4</a></li>
                                </ul>
                            </div>
                            <div class="sub-nav-column">
                                <h3>Category 2</h3>
                                <ul class="collection">
                                    <li class="collection-item"><a href="#">Category 2 - configuration 1</a></li>
                                    <li class="collection-item"><a href="#">Category 2 - configuration 2</a></li>
                                    <li class="collection-item"><a href="#">Category 2 - configuration 3</a></li>
                                    <li class="collection-item"><a href="#">Category 2 - configuration 4</a></li>
                                </ul>
                            </div>
                            <div class="sub-nav-column">
                                <h3>Category 3</h3>
                                <ul class="collection">
                                    <li class="collection-item"><a href="#">Category 3 - configuration 1</a></li>
                                    <li class="collection-item"><a href="#">Category 3 - configuration 2</a></li>
                                    <li class="collection-item"><a href="#">Category 3 - configuration 3</a></li>
                                    <li class="collection-item"><a href="#">Category 3 - configuration 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li><i class="fas fa-percent"></i><a href="#" class="mr-1">تخفیفها و پیشنهادات</a>
                    <div class="mega-menu-container">
                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Services</h3>
                                <ul class="collection">
                                    <li class="collection-item"><a href="#">Pre-Sale</a></li>
                                    <li class="collection-item"><a href="#">After-Sale</a></li>
                                </ul>
                            </div>

                            <div class="sub-nav-column">
                                <h3>Pre-Sale</h3>
                                <ul class="collection">
                                    <li class="collection-item"><a href="#">Situation Analysis</a></li>
                                    <li class="collection-item"><a href="#">Solution Recommendation</a></li>
                                    <li class="collection-item"><a href="#">Chemical Analysis </a></li>
                                    <li class="collection-item"><a href="#">Volume Curves</a></li>
                                    <li class="collection-item"><a href="#">Custom Build Solutions</a></li>
                                    <li class="collection-item"> <a class="em" href="#"> More Pre-sale assistance >></a>
                                    </li>
                                </ul>

                            </div>

                            <div class="sub-nav-column">
                                <h3>After-Sale</h3>
                                <ul class="collection">
                                    <li class="collection-item"><a href="#">Financing</a></li>
                                    <li class="collection-item"><a href="#">Repairs</a></li>
                                    <li class="collection-item"><a href="#">Warrenty</a></li>
                                    <li class="collection-item"><a href="#">Training</a></li>
                                    <li class="collection-item"> <a class="em" href="#">More After-sale Care >></a></li>
                                </ul>
                            </div>

                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h4>Services</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><i class="fas fa-medal"></i><a href="#" class="mr-1">دیجی کالای من</a>
                    <div class="mega-menu-container">
                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <ul class="collection">
                                    <li class="collection-item">
                                        <h3>About Us</h3>
                                    </li>
                                    <li class="collection-item"><a href="#">Our History</a></li>
                                    <li class="collection-item"><a href="#">Company Profile</a></li>
                                </ul>
                            </div>
                            <div class="sub-nav-column">
                                <ul class="collection">
                                    <li class="collection-item">
                                        <h3>Our Team</h3>
                                    </li>
                                    <li class="collection-item"><a href="#">Our Team</a></li>
                                    <li class="collection-item"><a href="#">Vacancies </a></li>
                                </ul>
                            </div>
                            <div class="sub-nav-column">
                                <ul class="collection">
                                    <li class="collection-item">
                                        <h3>Our Awards</h3>
                                    </li>
                                    <li class="collection-item"><a href="#">2018 - *</a></li>
                                    <li class="collection-item"><a href="#">2015 - 2017</a></li>
                                    <li class="collection-item"><a href="#">2012 - 2014</a></li>
                                    <li class="collection-item"><a href="#">2009 - 2011</a></li>
                                    <li class="collection-item"><a href="#">2009 and prior</a></li>
                                </ul>
                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h4>Awarder over 55 awards</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><i class="fas fa-plus"></i><a href="#" class="mr-1">دیجی پلاس</a>
                    <div class="mega-menu-container ">

                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Ways to get in touch</h3>
                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h3>Location Map</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li><i class="fas fa-shapes"></i><a href="#" class="mr-1">دیجی کلاب</a>
                    <div class="mega-menu-container ">

                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Ways to get in touch</h3>
                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h3>Location Map</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li><i class="fas fa-question"></i><a href="#"> سوالی دارید؟</a>
                    <div class="mega-menu-container ">

                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Ways to get in touch</h3>
                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h3>Location Map</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li><i class="fa fa-tasks" aria-hidden="true"></i><a href="#"> فروشنده شوید</a>
                    <div class="mega-menu-container ">

                        <div class="mega-menu-grid">
                            <div class="sub-nav-column">
                                <h3>Ways to get in touch</h3>
                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">

                            </div>
                            <div class="sub-nav-column">
                                <div class="z-depth-1 polariod">
                                    <img src="" alt="" class="theme responsive-img">
                                    <h3>Location Map</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li style="float: left;">
                    <a href="">استان و شهر خود را مشخص کنید</a>
                    <i class="fas fa-location-arrow"></i>
                </li>

            </ul>
        </div>
    </div>