{% extends 'base/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/single-post.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
<link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
{% endblock style %}

{% block content %}
<div class="row single-container">
    <div class="col col-md-10" style="text-align: right;">
        <div class="d-flex flex-row">
            <div class="pr-2"><a class="a-tag-no-dec" href="#">دیجی کالا /</a></div>
            <div class="pr-2"><a class="a-tag-no-dec" href="#">کامپیوتر و تجهیزات جانبی/</a></div>
            <div class="pr-2"><a class="a-tag-no-dec" href="#">کیبورد (صفحه کلید)</a></div>
        </div>
    </div>
    <div class="col col-md-2">
        <a href="#" class="a-tag-no-dec" style="font-size: 0.75rem; border-bottom: 0.1rem dashed gray;">بازخورد درباره
            این کالا</a>
    </div>
</div>
<div class="single-container bg-white row">
    <div class="col col-md-4 border-left pl-2">
        <div>
            <img class="w-75 m-3 big-img"
                src="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                alt="">
        </div>
        <div class="row mt-5">
            <div class="col col-md-3">
                <a href="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                    data-lightbox="roadtrip">
                    <img class="w-75 m-3 "
                        src="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                        alt="">
                </a>
            </div>
            <div class="col col-md-3">
                <a href="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                    data-lightbox="roadtrip">
                    <img class="w-75 m-3 "
                        src="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                        alt="">
                </a>
            </div>
            <div class="col col-md-3">
                <a href="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                    data-lightbox="roadtrip">
                    <img class="w-75 m-3 "
                        src="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                        alt=""></a>
            </div>
            <div class="col col-md-3">
                <a href="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                    data-lightbox="roadtrip">
                    <img class="w-75 m-3 "
                        src="https://dkstatics-public.digikala.com/digikala-products/155789.jpg?x-oss-process=image/resize,h_1600/quality,q_80"
                        alt=""></a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <h6 class="mt-5" style="text-align: right;">کیبورد گرین مدل GK-502با حروف بافارسی</h6>
        <p class="title">Green GK-502 Keyboard with Persian Letters</p>
        <ul class="single-ul">
            <li class="single-li"><i class="fas fa-star" style="color: yellow;"></i> 4.5</li>
            <li class="single-li">41 دیدگاه کابران</li>
            <li class="single-li">۱ پرسش و پاسخ</li>
        </ul>
        <ul class="single-ul my-3">
            <li class="single-li">برند: <a href="#"
                    style="color: #5ab5cb; font-size: 0.9rem; border-bottom: 0.1rem dashed #5ab5cb;">گرین</a></li>
            <li class="single-li">دسته بندی: <a href="#"
                    style="color: #5ab5cb; font-size: 0.9rem; border-bottom: 0.1rem dashed #5ab5cb;">کیبورد (صفحه
                    کلید)</a></li>
        </ul>
        <ul class="sing-ul my-3">
            <li class="single-li" style="font-size: 0.9rem;">انتخاب رنگ</li>
            <li class="single-li color-selection" id="black">
                <div class="black"></div>مشکی
            </li>
            <li class="single-li color-selection" id="blue">
                <div class="blue"></div>آبی
            </li>
            <li class="single-li color-selection" id="white">
                <div class="white"></div>سفید
            </li>
        </ul>
        <p class="options" style="text-align: right;">ویژگی های کالا</p>
        <ul style="list-style-type: disc;">
            <li class="li-property mr-2">حافظه داخلی: 64 گیگابایت</li>
            <li class="li-property mr-2">شبکه های ارتباطی: 2G, 3G, 4G</li>
            <li class="li-property mr-2">دوربین پشت گوشی: 4 ماژول دوربین</li>
            <li class="li-property mr-2 toggle">سیستم عامل: Android 10</li>
            <li class="li-property mr-2 toggle">توضیحات سیم کارت: سایز نانو</li>
            <li class="li-property mr-2 toggle">مقدار RAM: 4 گیگابایت</li>
            <li class="li-property mr-2 toggle">تعداد سیم کارت: دو</li>
            <li class="li-property mr-2 more-text" onclick="expand()" style="color: #5ab5cb; cursor: pointer;">موارد
                بیشتر</li>
        </ul>
    </div>
    <div class="col col-md-4 mt-5">
        <div class="row shop-detail">
            <div class="col col-md-12 shop-cart">
                <svg style="color: rgba(0, 0, 0, 0.5);" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                    <path
                        d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
                </svg>
                <p style="display: inline; font-size: 1rem;" class="black-item">فروشنده: دی جی لند پلاس</p>
                <p style="display: inline; font-size: 1rem;" class="blue-item">فروشنده: دی جی لند minus</p>
                <p style="display: inline; font-size: 1rem;" class="white-item">فروشنده: دی جی لند +</p>
                <p style="font-size: 0.8rem; color: #5ab5cb;">عملکرد: 3.6 از 5 <span
                        style="color: rgba(0, 0, 0, 0.3);">|</span> 83.6٪ رضایت از کالا</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p style="font-size: 0.85rem;"><i class="fas fa-certificate"
                        style="color: rgba(0, 0, 0, 0.4);"></i>گارانتی 18 ماهه دیجی سرویس + بیمه ۱۲ ماهه ایران</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p style="font-size: 0.85rem;"><i class="fa fa-check-circle"
                        style="color: rgba(0, 0, 0, 0.4);"></i>موجود در انبار دیجی کالا</p>
                <p><i class="fas fa-truck" style="color: red;"></i>ارسال دیجی کالا</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p>قیمت فروشنده</p>
                <p>4595000</p>
                <p>+۱۰۰ نفر در حال بازدید این کالا می باشند.</p>
                <p><a href="#" class="btn btn-danger w-100 p-2" style="font-size: 1.25rem;">افزودن به سبد خرید</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 py-3">
    <div class="d-flex justify-content-between">
        <div>لیست فروشنده / گارانتی‌های این محصول</div>
        <div style="color: #5ab5cb; border-bottom: 1px dashed #5ab5cb;">کالای خود را در دیجی کالا بفروشید</div>
    </div>
    <div class="d-flex justify-content-between sailers-list-first my-3 p-3">
        <div>
            <svg style="color: rgba(0, 0, 0, 0.5);" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                class="bi bi-shop" viewBox="0 0 16 16">
                <path
                    d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
            </svg>
            <p style="display: inline; font-size: 1rem;" class="black-item">بازرگانی توسعه تجارت صنایع آپادانا</p>
        </div>
        <div>
            <p><i class="fas fa-truck"></i>ارسال دیجی کالا از ۱ روز کاری دیگر</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>گارانتی 24 ماهه یکپارچه (سازگار حامی و آواژنگ)
        </div>
        <div>
            9,990,000 تومان
        </div>
        <div>
            <a href="#" class="btn btn-outline-danger p-2 buy-btn">افزودن به سبد</a>
        </div>
    </div>
    <div class="d-flex justify-content-between sailers-list p-3">
        <div>
            <svg style="color: rgba(0, 0, 0, 0.5);" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                <path
                    d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
            </svg>
            <p style="display: inline; font-size: 1rem;" class="black-item">بازرگانی توسعه تجارت صنایع آپادانا</p>
        </div>
        <div>
            <p><i class="fas fa-truck"></i>ارسال دیجی کالا از ۱ روز کاری دیگر</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>گارانتی 24 ماهه یکپارچه (سازگار حامی و آواژنگ)
        </div>
        <div>
            9,990,000 تومان
        </div>
        <div>
            <a href="#" class="btn btn-outline-danger p-2 buy-btn">افزودن به سبد</a>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<script src="{% static 'js/easyzoom.js' %}"></script>
<script>
    var toggle = false;
    $(document).ready(function () {
        toggle = false;
        $(".toggle").hide();
        $(".more-text").text("موارد بیشتر");
        $('.blue-item').hide();
        $('.white-item').hide();

    });
    function expand() {
        if (toggle) {
            $(".toggle").hide();
            toggle = false
            $(".more-text").text("موارد بیشتر");
        } else {
            $(".toggle").show();
            toggle = true
            $(".more-text").text("بستن");
        }
    }

    $("#black").click(function (e) {
        e.preventDefault();
        $("#black").css("border-color", '#5ab5cb');
        $("#blue").css('border-color', 'rgba(0,0,0,0.25)');
        $("#white").css('border-color', 'rgba(0,0,0,0.25)');

        $('.black-item').show();
        $('.blue-item').hide();
        $('.white-item').hide();
    });

    $("#blue").click(function (e) {
        e.preventDefault();
        $("#blue").css("border-color", '#5ab5cb');
        $("#black").css('border-color', 'rgba(0,0,0,0.25)');
        $("#white").css('border-color', 'rgba(0,0,0,0.25)');


        $('.black-item').hide();
        $('.blue-item').show();
        $('.white-item').hide();
    });

    $("#white").click(function (e) {
        e.preventDefault();
        $("#white").css("border-color", '#5ab5cb');
        $("#blue").css('border-color', 'rgba(0,0,0,0.25)');
        $("#black").css('border-color', 'rgba(0,0,0,0.25)');


        $('.black-item').hide();
        $('.blue-item').hide();
        $('.white-item').show();
    });

    // Instantiate EasyZoom instances
    var $easyzoom = $('.easyzoom').easyZoom();

    // Get an instance API
    var api = $easyzoom.data('easyZoom');
</script>
{% endblock script %}