{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load index %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/single-post.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
{% endblock style %}

{% block content %}
<div class="row single-container">
    <div class="col col-md-10" style="text-align: right;">
        <div class="d-flex flex-row">
            <div class="pr-2"><a class="a-tag-no-dec" href="#">دیجی کالا /</a></div>
            <div class="pr-2"><a class="a-tag-no-dec" href="#">کامپیوتر و تجهیزات جانبی/</a></div>
            <div class="pr-2"><a class="a-tag-no-dec" href="#">کیبورد (صفحه کلید)</a></div>
        </div>
    </div>
    <div class="col col-md-2">
        <a href="#" class="a-tag-no-dec" style="font-size: 0.75rem; border-bottom: 0.1rem dashed gray;">بازخورد درباره
            این کالا</a>
    </div>
</div>
<div class="single-container bg-white row">
    <div class="col col-md-4 border-left pl-2">
        <div>
            <img class="w-75 m-3 big-img" src="{{object.image.url}}" alt="">
        </div>
        <div class="row mt-5">
            {% for image in images %}
            <div class="col col-md-3">
                <a href="{{image.image.url}}" data-lightbox="roadtrip">
                    <img class="w-75 m-3 " src="{{image.image.url}}" alt="{{image.product.name}}"
                        title="{{image.product.name}}">
                </a>

            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col col-md-4">
        <h6 class="mt-5" style="text-align: right;">{{object.name}}</h6>

        <ul class="single-ul">
            <li class="single-li"><i class="fas fa-star" style="color: yellow;"></i> {{rating|floatformat:2}} </li>
            <li class="single-li">{{comments.count}} دیدگاه کابران</li>
            <li class="single-li">۱ پرسش و پاسخ</li>
        </ul>
        <ul class="single-ul my-3">
            <li class="single-li">برند: <a href="#"
                    style="color: #5ab5cb; font-size: 0.9rem; border-bottom: 0.1rem dashed #5ab5cb;">{{object.brand}}</a>
            </li>
            <li class="single-li">دسته بندی: <a href="#"
                    style="color: #5ab5cb; font-size: 0.9rem; border-bottom: 0.1rem dashed #5ab5cb;">
                    {{object.category}}
                </a></li>
        </ul>
        <ul class="sing-ul my-3">
            <li class="single-li" style="font-size: 0.9rem;">انتخاب رنگ</li>
            {% for color in colors %}
            <li class="single-li color-selection" id="{{color}}" onclick="show_hide_shop_card('{{color}}')">
                <div class="{{color}}"></div><span>{{color}}</span>
            </li>
            {% endfor %}
        </ul>
        <p class="options" style="text-align: right;">ویژگی های کالا</p>
        <ul style="list-style-type: disc;">
            <li class="li-property mr-2">حافظه داخلی: 64 گیگابایت</li>
            <li class="li-property mr-2">شبکه های ارتباطی: 2G, 3G, 4G</li>
            <li class="li-property mr-2">دوربین پشت گوشی: 4 ماژول دوربین</li>
            <li class="li-property mr-2 toggle">سیستم عامل: Android 10</li>
            <li class="li-property mr-2 toggle">توضیحات سیم کارت: سایز نانو</li>
            <li class="li-property mr-2 toggle">مقدار RAM: 4 گیگابایت</li>
            <li class="li-property mr-2 toggle">تعداد سیم کارت: دو</li>
            <li class="li-property mr-2 more-text" onclick="expand()" style="color: #5ab5cb; cursor: pointer;">موارد
                بیشتر</li>
        </ul>
    </div>
    <div class="col col-md-4 mt-5">
        {% for color in colors %}
        {% if forloop.first %}
        <div class="row shop-detail {{color}}-item">
            <div class="col col-md-12 shop-cart">
                <svg style="color: rgba(0, 0, 0, 0.5);" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                    <path
                        d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
                </svg>
                <p style="display: inline; font-size: 1rem;">فروشنده: {{card_prodcts|shop_name:color}}</p>
                <p style="font-size: 0.8rem; color: #5ab5cb;">عملکرد: 3.6 از 5 <span
                        style="color: rgba(0, 0, 0, 0.3);">|</span>
                    83.6٪ رضایت از کالا</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p style="font-size: 0.85rem;"><i class="fas fa-certificate"
                        style="color: rgba(0, 0, 0, 0.4);"></i>گارانتی 18
                    ماهه دیجی سرویس + بیمه ۱۲ ماهه ایران</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p style="font-size: 0.85rem;"><i class="fa fa-check-circle"
                        style="color: rgba(0, 0, 0, 0.4);"></i>موجود در
                    انبار دیجی کالا</p>
                <p><i class="fas fa-truck" style="color: red;"></i>ارسال دیجی کالا</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p>قیمت فروشنده</p>
                <p>{{card_prodcts|product_price:color}}</p>
                <p>+۱۰۰ نفر در حال بازدید این کالا می باشند.</p>
                <form action="{% url 'shop:cart_add' card_prodcts|product_id:color %}" method="post">
                    {{cart_product_form|crispy}}
                          {% csrf_token %}
                    <input type="submit" value="افزودن به سبد خرید" class="btn btn-danger w-100 p-2" style="font-size: 1.25rem;">
                </form>
                
            </div>
        </div>
        {% else %}
        <div class="row shop-detail {{color}}-item d-none">
            <div class="col col-md-12 shop-cart">
                <svg style="color: rgba(0, 0, 0, 0.5);" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                    <path
                        d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
                </svg>
                <p style="display: inline; font-size: 1rem;">فروشنده: {{card_prodcts|shop_name:color}}</p>
                <p style="font-size: 0.8rem; color: #5ab5cb;">عملکرد: 3.6 از 5 <span
                        style="color: rgba(0, 0, 0, 0.3);">|</span>
                    83.6٪ رضایت از کالا</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p style="font-size: 0.85rem;"><i class="fas fa-certificate"
                        style="color: rgba(0, 0, 0, 0.4);"></i>گارانتی 18
                    ماهه دیجی سرویس + بیمه ۱۲ ماهه ایران</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p style="font-size: 0.85rem;"><i class="fa fa-check-circle"
                        style="color: rgba(0, 0, 0, 0.4);"></i>موجود در
                    انبار دیجی کالا</p>
                <p><i class="fas fa-truck" style="color: red;"></i>ارسال دیجی کالا</p>
                <hr>
            </div>
            <div class="col col-md-12 shop-cart">
                <p>قیمت فروشنده</p>
                <p>{{card_prodcts|product_price:color}}</p>
                <p>+۱۰۰ نفر در حال بازدید این کالا می باشند.</p>
                <form action="{% url 'shop:cart_add' card_prodcts|product_id:color %}" method="post">
                    {{cart_product_form|crispy}}
                          {% csrf_token %}
                    <input type="submit" value="افزودن به سبد خرید" class="btn btn-danger w-100 p-2" style="font-size: 1.25rem;">
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container-fluid mt-3 py-3">
    <div class="d-flex justify-content-between">
        <div>لیست فروشنده / گارانتی‌های این محصول</div>
        <div style="color: #5ab5cb; border-bottom: 1px dashed #5ab5cb;">کالای خود را در دیجی کالا بفروشید</div>
    </div>
    {% for shop_product in shop_products %}
    {% if forloop.first %}
    <div class="row sailers-list-first mt-3 p-3" style="text-align: right;" id="{{forloop.counter}}">
        <div class="col col-md-2">
            <svg style="color: rgba(0, 0, 0, 0.5);" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                <path
                    d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
            </svg>
            <p style="display: inline; font-size: 1rem;">{{shop_product.shop}}</p>
        </div>
        <div class="col col-md-3">
            <p><i class="fas fa-truck"></i>ارسال دیجی کالا از ۱ روز کاری دیگر</p>
        </div>
        <div class="col col-md-4">
            <i class="fas fa-user-shield"></i>گارانتی 24 ماهه یکپارچه (سازگار حامی و آواژنگ)
        </div>
        <div class="col-md-1">
            {{shop_product.price}}
        </div>
        <div class="col col-md-2" style="text-align: left;">
            <a href="#" class="btn btn-outline-danger p-2 buy-btn">افزودن به سبد</a>
        </div>
    </div>
    {% else %}
    <div class="row sailers-list p-3" style="text-align: right;" id="{{forloop.counter}}">
        <div class="col col-md-2">
            <svg style="color: rgba(0, 0, 0, 0.5);" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                <path
                    d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
            </svg>
            <p style="display: inline;">{{shop_product.shop}}</p>
        </div>
        <div class="col col-md-3">
            <p><i class="fas fa-truck"></i>ارسال دیجی کالا از ۱ روز کاری دیگر</p>
        </div>
        <div class="col col-md-4">
            <i class="fas fa-user-shield"></i>گارانتی 24 ماهه یکپارچه (سازگار حامی و آواژنگ)
        </div>
        <div class="col-md-1">
            {{shop_product.price}}
        </div>
        <div class="col col-md-2" style="text-align: left;">
            <a href="#" class="btn btn-outline-danger p-2 buy-btn">افزودن به سبد</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container-fluid mt-3 py-3 bg-white">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
                aria-controls="review" aria-selected="true">نقد و بررسی</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="property-tab" data-toggle="tab" href="#property" role="tab" aria-controls="property"
                aria-selected="false">مشخصات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment"
                aria-selected="false">دیدگاه کاربران</a>
        </li>
    </ul>
    <div class="tab-content m-3" id="myTabContent" style="text-align: right;">
        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
            <h3 class="mt-3">نقد و بررسی اجمالی</h3>
            <p class="m-5">
                {{object.description}}
            </p>
        </div>
        <div class="tab-pane fade" id="property" role="tabpanel" aria-labelledby="property-tab">
            {% block properties %}{% endblock properties %}
        </div>
        <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
            <div class="message"></div>
            {% if request.user.is_authenticated%}
            <form method="post" id="commentForm" name="commentForm">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class='btn btn-primary' id="submitComment">ارسال</button>
            </form>
            {% endif %}
            <div class="mt-5">
                {% for comment in comments %}
                <div class="card" style="width: 18rem;">
                    <div class="container">
                        <p class="card-body">
                        <h1>{{comment.title}}</h1>
                        <small class="card-subtitle">{{comment.created|date}}</small>
                        <p>{{comment.author.get_full_name}}</p>
                        <span class="badge badge-success my-3" id="like_{{comment.id}}">Likes
                            {{likes|get_item:comment.id}}
                        </span>
                        <span class="badge badge-danger m-3" id="dislike_{{comment.id}}">Dislikes
                            {{dislikes|get_item:comment.id}}

                        </span>
                        <p class="card-text">
                            {{comment.body}} <br>
                            {% if request.user.is_authenticated %}
                            {% if author_likes|get_item:comment.id %}
                            <button class="btn btn-success my-3" id="like_btn_{{comment.id}}"
                                onclick="like({{comment.id}}, 'like')" disabled>Like</button>
                            <button class="btn btn-outline-danger m-3" id="dislike_btn_{{comment.id}}"
                                onclick="like({{comment.id}}, 'dislike')" disabled>Dislike</button>
                            {% elif author_dislikes|get_item:comment.id %}
                            <button class="btn btn-outline-success my-3" id="like_btn_{{comment.id}}"
                                onclick="like({{comment.id}}, 'like')" disabled>Like</button>
                            <button class="btn btn-danger m-3" id="dislike_btn_{{comment.id}}"
                                onclick="like({{comment.id}}, 'dislike')" disabled>Dislike</button>
                            {% else %}
                            <button class="btn btn-outline-success my-3" id="like_btn_{{comment.id}}"
                                onclick="like({{comment.id}}, 'like')">Like</button>
                            <button class="btn btn-outline-danger m-3" id="dislike_btn_{{comment.id}}"
                                onclick="like({{comment.id}}, 'dislike')">Dislike</button>
                            {% endif %}
                            {% else %}
                            <button class="btn btn-outline-success my-3" id="like_btn_{{comment.id}}"
                                onclick="like({{comment.id}}, 'like')">Like</button>
                            <button class="btn btn-outline-danger m-3" id="dislike_btn_{{comment.id}}"
                                onclick="like({{comment.id}}, 'dislike')">Dislike</button>
                            {% endif %}
                        </p>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">

        </div>
    </div>

</div>

{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<script>
    var toggle = false;
    $(document).ready(function () {
        toggle = false;
        $(".toggle").hide();
        $(".more-text").text("موارد بیشتر");
    });
    function expand() {
        if (toggle) {
            $(".toggle").hide();
            toggle = false
            $(".more-text").text("موارد بیشتر");
        } else {
            $(".toggle").show();
            toggle = true
            $(".more-text").text("بستن");
        }
    }


    function show_hide_shop_card(color) {
        console.log(color);
        var colors_list = ['.black-item', '.white-item', '.red-item', '.pink-item', '.green-item', '.yellow-item'];
        $.each(colors_list, function (indexInArray, valueOfElement) {

            if ($(valueOfElement).length) {
                if (valueOfElement.includes(color)) {
                    console.log(color);
                    $(valueOfElement).removeClass("d-none");
                } else {
                    $(valueOfElement).removeClass("d-none").addClass("d-none");
                }
                
            }
        });

    }

    $('#submitComment').on('click', function (e) {
        e.preventDefault();
        var $form = $('#commentForm');
        var title = document.forms["commentForm"]["title"].value;
        var body = document.forms["commentForm"]["body"].value;
        if (title == "" || body == "") {
            $(".message").append('<div class="alert alert-danger alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-align: right;">&times;</a>عنوان و/یا متن کامنت خالی است.</div >');
        }
        else {
            $(".message").append('<div class="alert alert-success alert-dismissible">پیام با موفقیت ثبت گردید. پس از تایید در سایت نمایش داده خواهد شد.<a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-align: right;">&times;</a></div >');
            $.ajax({
                type: "post",
                url: "{% url 'products:laptop_view' object.category.slug object.slug %}",
                data: $("#commentForm").serialize(),
                success: function (response) {
                    console.log(response);
                },
                error: function (param) {
                    console.log(param);
                }
            });
        }
    });


    function like(id, like_type) {
        $.ajax({
            type: "post",
            url: "{% url 'products:like_comment' %}",
            data: {
                id: id,
                like_type: like_type,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
                action: 'post',
            },
            success: function (json) {
                json = JSON.parse(json)
                like_counts = json['like_counts']
                if (like_type == 'like') {
                    e_id = "like_" + id;
                    string = "Like ";
                    document.getElementById("like_btn_" + id).className = "btn btn-success";
                }
                else {
                    e_id = "dislike_" + id;
                    string = "Dislikes ";
                    document.getElementById("dislike_btn_" + id).className = "btn btn-danger";
                }
                // element = document.getElementById(e_id);
                document.getElementById(e_id).innerHTML = string + like_counts;
                document.getElementById("like_btn_" + id).disabled = true;
                document.getElementById("dislike_btn_" + id).disabled = true;
            },
            error: function () { alert('error in liking') }
        });
    }

</script>
{% endblock script %}