.a-tag-no-dec {
    text-decoration: none;
}

.a-tag-no-dec:hover {
    color: gray;
} 

.single-container {
    margin: .5rem 1rem;
}

.border-left {
    border-left: 0.5rem solid rgba(0, 0, 0, 0.5);
}

p.title {
    font-size: 0.7rem;
    color: green;
    text-align: right;
}

.single-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.single-li {
    float: right;
    padding-left: 0.75rem;
    font-size: 0.75rem;
}

li.color-selection {
    border: 0.1rem solid rgba(0, 0, 0, 0.25);
    color: #8d8d8d;
    font-size: 0.9rem;
    padding: .5rem;
    margin-right: 0.5rem;
    border-radius: 15%;
    width: 5rem;
}

.blue {
    margin-left: 0.2rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: blue;
    display: inline;
    float: right;
}

.black {
    margin-left: 0.2rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: black;
    display: inline;
    float: right;
}

.white {
    margin-left: 0.2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    display: inline;
    float: right;
}

.options {
    display: block;
    clear: right;
    margin-top: 10fr;
}

.li-property {
    text-align: right;
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.65);
}

.shop-cart {
    text-align: right;
}

.shop-detail {
    background-color: #f5f5f5;
    border-radius: 3%;
    padding: 0.5rem;
    width: 26rem;
    /* margin-left: 2rem; */
}


.sailers-list-first {
    background-color: #f4fbff;
    border: 0.1rem solid #51c0d3;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.5);
}

.sailers-list {
    background-color: #fff;
    border: 0.1rem solid #fff;
    font-size: 0.95rem;
    margin-top: -1rem;
    color: rgba(0, 0, 0, 0.5);
}

a.buy-btn {
    font-size: 1rem;
}


.triangle {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    margin-left: 5px;
    margin-top: 7px;
    border-right:5px solid #7fdfea; 
}