{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/single-post.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
<style>
    .bg-image {
        background-image: url('https://picsum.photos/id/1/1080');
        background-size: cover;
        background-position: center center;
        ;
    }
</style>
{% endblock style %}


{% block content %}
<div class="alert alert-info mt-5" style="text-align: right;">ایمیلی حاوی راهنمایی و اطلاعات لازم برای تغییر رمز عبور برایتان ارسال گردید.</div>
{% endblock content %}